body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url(https://thumbs.dreamstime.com/z/old-retro-background-rays-explosion-imitation-vintage-starburst-pattern-bristle-texture-circus-style-flat-vector-145565283.jpg);
}
.web-title{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.navigator {
    text-align: center;
}

.nav-butt {
    background-color: beige;
    border: none;
    color: crimson;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    align-content: center;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
}

.nav-butt:hover {
    background-color: crimson;
    border: none;
    color: chartreuse;
    padding: 15px 32px;
    text-align: center;
    align-content: center;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
}
h1{
    font-family: 'Passion One', cursive;
    font-size: 50px;
    color: rgb(80, 181, 240);
    text-shadow:5px 5px 5px black;
    text-align: center;
}
h1::after{
    content: '';
    background:whitesmoke;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
h3{
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 25px;
    color: rgb(255, 230, 0);
    text-shadow:5px 5px 5px black;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 100px auto 100px;
}
.testimonials .card{
    position: relative;
    width: 350px;
    margin: 0 auto;
    background-color: rgb(36, 32, 32);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,5);
    overflow: hidden;
}
.testimonials .card .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(206, 187, 78);
    z-index: 1;
    transition: 0.5s;
}
.testimonials .card:hover .layer{
    top: 0;
}
.testimonials .card .content{
    position: relative;
    z-index: 2;
}
.testimonials .card .content p{
    font-size: 18px;
    line-height: 24px;
    color: whitesmoke;
    font-family: 'Prata', serif;
}
.testimonials .card .content img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,5);
}
.testimonials .card .content .details h2{
    font-size: 14px;
    color: rgb(80, 181, 240);
}
.testimonials .card .content .details h2 span{
    color: rgb(206, 187, 78);
    font-size: 12px;
    transition: 0.5s;
}
.testimonials .card:hover .content .details h2 span{
    color: #fff;
}
.testimonials .card:hover .content p{
    color: black;
    font-weight: 400;
}